Package: com.ph0qu3_111.patcher
Name: arm64e Patcher
Version: 0.2
Architecture: iphoneos-arm64e
Depends: firmware (>= 15.0), odcctools, ldid, file, dpkg, gawk, plutil(>= 0.2.2-1), rsync
Description: patch rootless package to Team Failure's Procursus, not work for all packages.
Maintainer: Ph0qu3_111
Author: Ph0qu3_111
Section: Utilities
Icon: https://github.com/BananeRapeuse/arm64e-patcher/blob/master/arm64e-patcher.png?raw=true
Depiction: https://github.com/BananeRapeuse/arm64e-patcher
Support: https://github.com/BananeRapeuse/arm64e-patcher
